@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    border: 1px solid red;
}

.header-section {
    background-color: #1f2937;
    width: 100%;
    height: 500px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-top: 50px;
    margin-left: 250px;
    display: inline-block;
    font-weight: 800;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px;
    float: right;
    margin-top: 50px;
    margin-right: 250px;
}

.header-links a {
    margin: 50px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    width: 450px;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.flex-container {
    margin-top: 100px;
    margin-left: 250px;
    margin-bottom: 100px;
    display: flex;
}

.hero-button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px;
    font-weight: 800;
    border-radius: 5px;
    border: 0;
    width: 150px;
}

.image-holder {
    display: flex;
    margin-left: 225px;
    color: white;
    background-color: gray;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: auto;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.flex-container-1 {
    display: flex;
    justify-content: center;
}

.flexbox-item-1 {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #3882f6;
    border-radius: 10px;
    border-width: 2px;
}

.subtext {
    text-align: center;
    margin-top: 210px;
}

.info-section {
    margin-bottom: 100px;
}
.quote-section {
    background-color: #e5e7eb;
    height: 400px;
    width: auto;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    justify-content: center;
    margin-left: 500px;
    margin-top: 100px;
    margin-bottom: 10px;
    width: 800px;
}

.quote-author {
    font-weight: bolder;
    text-align: right;
    margin-left: 500px;
    width: 800px;
}
